@import "bourbon/bourbon";
@import "base/grid-settings";
@import "neat/neat";
@import "base/base";

// ******
// HEADER
// ******

header {
	color: white;
	background-color: #2E8A2E;
	&>nav {
		float: right;
		padding-right: 0.5em;
	}

	h1 {
		color: #FFCC00;
		padding-top: 1em;
		padding-left: 1em;
		font-size: $base-font-size * 1.5;
		small {
			display: block;
			color: white;
			text-transform: uppercase;
			font-size: 0.5em;
			line-height: 0.6em;
		}
	}

	a {
		font-weight: bold;
		color: orange;
		&:hover {
			color: orange;
			text-decoration: underline;
		}
	}

	.subheader {
		@extend %clearfix;
		clear: both;
		padding: 0.5em;
		background-color: #99CC66;
		a,a:hover { color: white; }

		.breadcrumbs {
			float: left;
		}
		.version {
			float: right;
		}
	}
}

// ******
// MAIN
// ******

main {
	display: block;
	button {
		@include button(simple, white, small, 5px 12px);
	}
	.refresh {
		float: right;
	}
}

.contents {
	padding: 1em;
	@include outer-container;
	nav { @include span-columns(2); }
	main { @include span-columns(10); }
}

.farm-report {

	table-layout: fixed;

	col.status { width: 7em; }
	col.build-time { width: 14em; }
	col.label { width: 5em; }
	col.ccnet-status { width: 7em; }
	col.activity { width: 5em; }
	col.messages { width: 25em; }
	col.admin { width: 5em; }


	.failure {
		color: red;
		font-weight: bold;
	}

	.success {
		color: green;
		font-weight: bold;
	}

	.sleeping {
		color: gray;
	}
}

.build-percentage {

	@extend %clearfix;

	div {
		height: 0.1em;
		float: left;
	}

	.failure {
		background-color: red;
	}

	.success {
		background-color: green;
	}
}

footer .logo {
	float: right;
}