<!doctype html>
<html lang="en" ng-app="Dashboard">
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>CCNet</title>

  <link rel="stylesheet" href="Styles/dist/lib/bootstrap/css/bootstrap.css"/>

  <link rel="stylesheet" href="Styles/dist/lib/font-awesome/css/font-awesome.css"/>

  <link rel="stylesheet" href="Styles/dist/css/dashboard/dashboard.css"/>

  <!-- SCRIPTS -->
  <script src="Styles/dist/lib/angular/angular.js"></script>
  <script src="Styles/dist/lib/angular-cookies/angular-cookies.js"></script>
  <script src="Styles/dist/lib/angular-bootstrap/ui-bootstrap.js"></script>
  <script src="Styles/dist/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="Styles/dist/lib/angular-ui-router/angular-ui-router.js"></script>

  <script src="js/app.js"></script>
  <script src="js/controllers/mainCtrl.js"></script>
  <script src="js/controllers/farmReportCtrl.js"></script>
  <script src="js/directives/historyDirective.js"></script>
  <!-- SCRIPTS -->

</head>
<body ng-controller="MasterCtrl">
  <div id="page-wrapper" ng-class="{'active': showSidebar}" ng-cloak>

    <!-- Sidebar -->

    <div id="sidebar-wrapper">
      <ul class="sidebar">
        <li class="sidebar-main">
          <a href="#" ng-click="toggleSidebar()">
            CCNet
            <span class="menu-icon glyphicon glyphicon-transfer"></span>
          </a>
        </li>
        <li class="sidebar-title"><span>Servers</span></li>
        <li class="sidebar-list" ng-repeat="server in servers">
          <a href="#">{{server}} <span class="menu-icon fa fa-desktop"></span></a>
        </li>
        <li class="sidebar-title separator"><span>QUICK LINKS</span></li>
        <li class="sidebar-list">
          <a href="#">Documentation<span class="menu-icon fa fa-book"></span></a>
        </li>
        <li class="sidebar-list">
          <a href="#">Download CCTray <span class="menu-icon fa fa-download"></span></a>
        </li>
      </ul>
      <div class="sidebar-footer">
        <div class="col-xs-4">
          <a href="https://github.com/Ehesp/Responsive-Dashboard" target="_blank">
            Github
          </a>
        </div>
        <div class="col-xs-4">
          <a href="#" target="_blank">
            About
          </a>
        </div>
        <div class="col-xs-4">
          <a href="#">
            Support
          </a>
        </div>
      </div>
    </div>

    <!-- End Sidebar -->

    <div id="content-wrapper">
      <div class="page-content">

        <!-- Header Bar -->

        <div class="row header">
          <div class="col-xs-12">
            <div class="user pull-right" style="margin: 10px;">
              <div class="item">
                <button class="btn btn-primary">Login</button>
              </div>
            </div>
            <div class="meta">
              <div class="page">
                Cruise Control .NET
              </div>
              <div class="breadcrumb-links">
                Dashboard
              </div>
            </div>
          </div>
        </div>

        <!-- End Header Bar -->

        <!-- Main Content -->
        <section data-ui-view></section>
      </div><!-- End Page Content -->
    </div><!-- End Content Wrapper -->
  </div><!-- End Page Wrapper -->
</body>
</html>
